
Frontend/webapi/webapi2/node_modules

Frontend/webapi2/webapi2/node_modules/

Backend/teamup/backend/bin/

Backend/teamup/backend/obj/

Backend/teamup/.vs/

Frontend/webapi/bin/

Frontend/webapi/obj/

Backend/teamup/packages/

Frontend/webapiNew/build/
